database.db
.vscode/launch.json
database.db-journal
test.sh
__debug_bin
help.txt
Untitled-1.html
go_backend.exe
log_go_backend.txt
deploy.sh
db.db
src/open_server
open_server
dt.db
log.txt
/go_build_main_go.exe
